<mat-toolbar class="body">
      <h1 class="noticia">
          Notícias
      </h1>

      <div class="card" style="width: 18rem;">  
           <img class="card-img-top" src="https://i.pinimg.com/736x/0c/db/88/0cdb8853e32df2bd3c08b688dca494e0.jpg" alt="Card image cap">
           <div class="card-body">
               <h1 class="text">Baby yoda é flagado<br> entrando em clima natalino<br>nas ruas de Ipanema!</h1>
           </div>
      </div>     
      
      <div class="card segundocard" style="width: 18rem;">  
            <img class="card-img-top imagem-do-card" src="https://i.pinimg.com/originals/c7/09/d4/c709d4fa37c797312cd56fcaa7a9b4fe.jpg" alt="Card image cap">
            <div class="card-body">
                <h2 class="text">R2D2 é encontrado perdido<br>no planeta terra.</h2>
            </div>
      </div>   

      <div class="card terceirocard" style="width: 18rem;">  
            <img class="card-img-top imagem-do-card" src="https://upload.wikimedia.org/wikipedia/pt/0/0e/Star_Wars_The_Last_Jedi.png" alt="Card image cap">
            <div class="card-body">
                <h2 class="text">Filme <b>Star Wars "The last <br>Jedi"</b> completa 3 anos.</h2>
            </div>
      </div> 
    
      <div class="blocos">
        <ul class="tabs-nav"> <!-- Iria usar a navegação entre abas, porém meu backend da API n deu mt certo ao mostrar :/-->
            <button href="http://localhost:4200/" class="bt bt-medium bt-red bt-100">Personagens</button>
            <button href="http://localhost:4200/" class="bt bt-medium bt-red bt-100">Naves estelares</button>
            <button href="http://localhost:4200/" class="bt bt-medium bt-red bt-100">Planetas</button>
            <button href="http://localhost:4200/" class="bt bt-medium bt-red bt-100">Residentes</button>
        </ul>   
      </div>  
      <div class="noticia segundanoticia"></div>
      
      <div class="card quartocard">
          <div class="card-header">
          Informação aleatoria
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <div *ngFor="let f of felipe"><h1>{{ f.people }}</h1></div>   <!-- aqui que nao consegui mostrar-->
              <p>Informação é a resultante do processamento, manipulação e organização de dados<br>Precisão: A informação não contém erro. Uma informação imprecisa normalmente é originada por dadosss.</p>
              <footer class="blockquote-footer">http://starwars.com</footer>
            </blockquote>
          </div>
      </div>
      
</mat-toolbar>
