<body>
      /* Optei por algo mais simples em quesito do tempo e funcionalidade, obrigado pela oportunidade */
      <div>
          <ul class="list-group primeiroformulario">
              <li class="list-group-item primeiro-formulario-titulo active" aria-current="true">Números binários em decimal</li>
              <li class="list-group-item">100101 = 37</li>
              <li class="list-group-item">1000101101 = 557</li>
              <li class="list-group-item">1111010110110 = 7862</li>
              <li class="list-group-item">100101001 = 297</li>
              <li class="list-group-item">111110110101 = 4021</li>
              <li class="list-group-item">10001110101111 = 9135</li>
              <li class="list-group-item">11111001101 = 1997</li>
              <li class="list-group-item">1001100001110011 = 39027</li>
              <li class="list-group-item">101111010110101011 = 193963</li>
          </ul>
      </div>

      <div>
          <form class="formulario" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
            <mat-card> 
                <legend class="legenda">Operação entre números binários</legend>
                <div class="mb-3">
                  <label class="form-label"></label>
                  <input type="text" [(ngModel)]="Sinal" name="Sinal" placeholder="Operador" class="form-control" style="width: 30%;">
                  <br>
                  <input type="text" [(ngModel)]="Numero1" name="Numero1" placeholder="Digite primeiro número binário" class="form-control">
                  <br>
                  <input type="text" [(ngModel)]="Numero2" name="Numero2" placeholder="Digite segundo número binário" class="form-control">
                </div>
                <p class="resultado">Resultado: {{ Binario() }} </p> 
            </mat-card>
          </form>   
      </div>

</body>

