.legenda{
    color: #007FFF;
    font-weight: bold;
}

.legenda:hover{
    color: #2271B3;
}

.formulario{
    position: absolute;
    margin-top: 11em;
    text-align: center;
    margin-left: 50em;
    box-shadow: 2px 5px 5px grey;
}

.resultado{
    font-weight: bold;
}

.list-group{
    position: absolute;
    width: 30em;
    margin-top: 5em;
    margin-left: 13em;
    box-shadow: 2px 5px 5px grey;
}

.primeiroformulario{
    color: #007FFF;
    font-weight: bold;
}

.primeiro-formulario-titulo:hover{
    color: lightgrey;
}

.digistarts{
    margin-left: 80em;
}
