.body{
    height: 1200px;
    margin-top: -100px;
    background-color: #000000;
  }

.noticia{
    margin-top: -500px;
    color: white;
    margin-left: 150px;
    font-size: 50px;
}

.segundanoticia{
    margin-top: 800px;
    margin-left: -860px;
}

.card{
    margin-top: 80px;
    margin-left: -180px;
}

.segundocard{
    margin-left: 70px;
}

.terceirocard{
    margin-left: 70px;
}

.quartocard{
    margin-top: 900px;
    margin-left: 5px;
}

.imagem-do-card{
    height: 320px;
}

.blocos{
    margin-top: -900px;
    margin-left: -910px;
}

.bt{
	position: relative;
	letter-spacing: 4px;
	font-stretch: ultra-condensed;
    color: #ffffff;
    background: #1C1C1C;
    display: inline-block;
    border: 0;	
    padding: 15px;
    font-weight: lighter;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}
