<app-header></app-header> 

<div>
  <nav class="navbar navbar-expand-lg navbar-g" >
    <img src="https://www.seekpng.com/png/full/983-9837378_death-star-star-wars-pixel-art-easy.png" class="death-star">
    <h1 class="texto1"><b>Junte-se ao lado negro da força!</b></h1>
    <img src="https://www.seekpng.com/png/full/983-9837378_death-star-star-wars-pixel-art-easy.png" class="death-star">
  </nav>
</div>

<app-body></app-body> 

<nav class="navbar navbar-expand-lg navbar-dark"  style="background-color: #000000;">
    <a class="navbar-brand" href="http://localhost:4200/">
        <img src="https://www.animatedimages.org/data/media/636/animated-star-wars-image-0009.gif" class="babyoda">
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Informações</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Documentação</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contato</a>
          </li>
        </ul>
    </div>
</nav>  
<!-- botão que era para ser usado para gerar a API, porém não consegui concluir, só expandir
<div *ngFor="let post of posts | async">

  {{ post | json }}

</div>

<button (click)="createPost()">Gerador</button>
<hr>
{{ newPost | async | json }}
-->