.babyoda{
    height: 70px;
    margin-top: -20px;
}

.babyoda segundo{
    height: 70px;
    margin-top: -20px;
}

.navbar-g{
    margin-top: 493px;
}

.texto1{
    margin: 0 auto;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    color: goldenrod;
}

.death-star{
    height: 20px;
}