<header>
    
    <nav class="navbar navbar-dark bg-white">
        <h1 class="titulo">Dashboard</h1>
        <img src="./assets/logo.jpeg" class="digistarts">
    </nav>

    <div class="slidenav">
        <mat-drawer-container class="example-container">
            <mat-drawer #drawer class="example-sidenav">
                <button type="button" mat-button >
                    <mat-icon (click)="drawer.toggle()" class="icone">arrow_right_alt</mat-icon> 
                    <br><br>
                    <mat-icon class="icone">assignment_ind</mat-icon> 
                    <br><br>
                    <mat-icon class="icone">book_online</mat-icon> 
                    <br><br>
                    <mat-icon class="icone">help</mat-icon> 
                </button>
            </mat-drawer>
                <button type="button" mat-button (click)="drawer.toggle()">
                    <mat-icon class="icone">toc</mat-icon> 
                </button>
        </mat-drawer-container>
    </div>
    
</header>     


