nav{
  right: 0;
  left: 0;
  position: fixed;
  margin-top: -19px;
  height: 50px;
  box-shadow: 0px 5px 5px grey;
}

.titulo{
  position: fixed;
  margin-left: 3em;
  margin-top: 15px;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #007FFF;
}

.digistarts{
  margin-left: 80%;
  margin-top: -20px;
}

.titulo:hover{
  color: #2271B3;
}

.example-container {
  position: fixed;
  width: 4em;
  max-height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:#007FFF;
  box-shadow: 0px 0px 5px grey;
  overflow: hidden;
}

.example-sidenav{
  position: absolute;
  width: 100em;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0%;
  background:#007FFF;
  box-shadow: 0px 0px 5px grey;
}

.icone{
  font-size: 40px;
  margin-left: -25px;
  color: white;
}

.icone:hover{
  color: lightsteelblue;
}
