@import '~bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

*{
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    background-color: #E4E6EB;
}